{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

    <div class="container" style="max-width: 900px; padding-bottom: 30px">
    <div class="container-fluid">
        <h2 class="h1 text-center mb-3 font-weight-light">Supplies</h2>
            <p class="text-right"><i class="fa fa-plus fa-lg" aria-hidden="true" data-toggle="modal" data-target="#myModal" style="cursor: pointer"></i></p>
        <div class="col-md-12 blog-main">
            <div class="row mb-2">
                {% if not supply_list %}
                    <div class="col-md-6">
                            <div>
                              <p class="mb-1">
                        <p class="text-center">Your supplies list is empty</p>
                              </p>
                            </div>
                        </div>
                {% else %}
                    {% for supply in supply_list %}
                        <div class="col-md-12">
                            <div>
                              <p class="mb-1">
                                 Coffeehouse : {{ supply.shop.name }}
                              </p>
                                <p class="mb-2">Creation date : {{ supply.date|date:'M d D' }}</p>
                                    <table class="table table-sm text-center">
                                      <thead>
                                        <tr>
                                          <th scope="col">Ingredient</th>
                                          <th scope="col">Amount</th>
                                          <th scope="col">Unit</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                            {% for ingredient in supply.suppliedingredient_set.all %}
                                                <tr>
                                                  <td>{{ ingredient.ingredient.name }}</td>
                                                  <td>{{ ingredient.amount }}</td>
                                                  <td>{{ ingredient.ingredient.unit_type.name }}</td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                            </div>

                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>

        <!-- The Modal -->
<div class="modal" id="myModal">
    <form method="post" class="form" action="{% url "cafe:add-supply" %}">
        {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="h2 text-center mb-0 font-weight-light">Make order</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          {{ form.media }}
            {% bootstrap_form form %}
      {{ formset.management_form }}
          {% for f in formset %}
              <div class='table'>
              {% bootstrap_form f %}
              </div>
{#              {{ f.DELETE }}#}
          {% endfor %}
      <input class="btn btn-sm btn-primary mybutton" type="button" value="Add More" id="add_more">
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          {% bootstrap_button "Submit" button_type="submit" size='small' button_class='btn btn-lg btn-primary btn-block mybutton'%}
      </div>

    </div>
  </div>
    </form>
</div>
    <script>
    $('#add_more').click(function() {
        cloneMore('div.table:last', 'form');
    });
</script>
    <script>
    function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}</script>
{% endblock %}