{% load static %}

<div class="container">
    <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 text-muted" href="{% url 'cafe:menu' %}">Our menu</a>
                <a class="p-2 text-muted" href="{% url "cafe:shops" %}">Our coffeehouses</a>
                <a class="p-2 text-muted" href="{% url "cafe:cafe" %}">About us</a>
                {% if user.is_anonymous %}
                    <a class="p-2 text-muted" href="{% url "users:register" %}">Register</a>
                    <a class="p-2 text-muted" href="{% url "users:login" %}">Sign in</a>
                {% else %}
                    {% if user.employee %}
                        <a class="p-2 text-muted" href="{% url "users:schedules" %}">My schedules</a>
                    {% endif %}
                    <a class="p-2 text-muted" href="{% url "users:bookings" %}">My reservation</a>
                    <a class="p-2 text-muted" href="{% url "users:logout" %}">Sign out</a>
                {% endif %}
            </nav>
    </div>
</div>
