{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

    <div class="container" style="max-width: 900px; padding-bottom: 30px">
    <div class="container-fluid">
        <h2 class="h1 text-center mb-3 font-weight-light">My reservations</h2>
        <p class="text-right"><i class="fa fa-plus fa-lg" aria-hidden="true" data-toggle="modal" data-target="#myModal" style="cursor: pointer"></i></p>
        <div class="col-md-12 blog-main">
            <div class="row mb-2">
                {% if not booking_list %}
                    <div class="col-md-12">
                            <div>
                              <p class="mb-1">
                        <p class="text-center">Your reservations list is empty</p>
                              </p>
                            </div>
                        </div>
                {% else %}
                    {% for booking in booking_list %}
                        <div class="col-md-12">
                            <div>
                              <p class="mb-1">
                                 Coffeehouse name : {{ booking.tables.all.last.shop.name }}
                              </p>
                                <p class="mb-1">Reservation time : {{ booking.start_time|date:'M d D H:i' }} - {{ booking.end_time|date:'M d D H:i' }}</p>
                                <p class="mb-1">Your tables : {% for table in booking.tables.all %}{{ table.number }}/{% endfor %}</p>
                            </div>
                            <hr class="mb-4">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>


    <!-- The Modal -->
<div class="modal" id="myModal">
    <form method="post" class="form" action="{% url "users:add-booking" %}">
        {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="h2 text-center mb-0 font-weight-light">Create reservation</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          {{ form.media }}
            {% bootstrap_form form %}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          {% bootstrap_button "Submit" button_type="submit" size='small' button_class='btn btn-lg btn-primary btn-block mybutton'%}
      </div>

    </div>
  </div>
    </form>
</div>
{% endblock %}