{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}

    <div class="container" style="max-width: 900px; padding-bottom: 30px">
    <div class="container-fluid">
        <h2 class="h1 text-center mb-3 font-weight-light">{% if not user.is_superuser %}My{% endif %} Schedules</h2>
        <p class="text-right">{% if user.is_superuser %}<i class="fa fa-filter fa-lg" aria-hidden="true" data-toggle="modal" data-target="#filterModal" style="cursor: pointer; margin-right: 30px"></i>{% endif %}<i class="fa fa-plus fa-lg" aria-hidden="true" data-toggle="modal" data-target="#myModal" style="cursor: pointer"></i></p>
        <div class="col-md-12 blog-main">
            <div class="row mb-2">
                {% if not object_list.qs %}
                    <div class="col-md-12">
                            <div>
                              <p class="mb-1">
                        <p class="text-center">Your schedules list is empty</p>
                              </p>
                            </div>
                        </div>
                {% else %}
                    {% for schedule in object_list.qs %}
                        <div class="col-md-12">
                            <div>
                              <p class="mb-1">
                                 Coffeehouse name : {{ schedule.shop.name }}
                              </p>
                            {% if user.is_superuser %}
                                <p class="mb-1">Employee : {{ schedule.user }}</p>
                            {% endif %}
                                <p class="mb-1">Day of week : {{ schedule.get_week_day_display }}</p>
                                <p class="mb-1">Shift time : {{ schedule.start_time|time:'H:i' }} - {{ schedule.end_time|time:'H:i' }}</p>
                                <span class="mb-1">Status : {% if schedule.approve_date %} ACCEPTED {% else %} PENDING {% endif %}
                                {% if user.is_superuser %}
                                    <form method="post" action="{% url "users:update-schedules" schedule.pk %}" style="display: inherit; margin-block-end: 0em;">
                                        {% csrf_token %}
                                        <input name="change" class="btn btn-sm btn-danger btn-primary" type="submit" value="Cancel" style="float: right;">
                                    </form>
                                    {% if not schedule.approve_date %}
                                <form method="post" action="{% url "users:update-schedules" schedule.pk %}" style="display: inherit; margin-block-end: 0em;">
                                    {% csrf_token %}
                                    <input name="change" class="btn btn-sm mybutton btn-primary" type="submit" value="Accept" style="float: right; margin-right: 5px">
                                </form>
                                        {% endif %}
                                {% endif %}
                                </span>
                            </div>
                            <hr class="mb-4">
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>

        <!-- The Modal -->
<div class="modal" id="myModal">
    <form method="post" class="form" action="{% if user.employee.job_title == 'admin' %}{% url "users:add-manager-schedules" %}{% else %}{% url "users:add-schedules" %}{% endif %}">
        {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="h2 text-center mb-0 font-weight-light">Create schedule request</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          {{ form.media }}
            {% bootstrap_form form %}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          {% bootstrap_button "Submit" button_type="submit" size='small' button_class='btn btn-lg btn-primary btn-block mybutton'%}
      </div>

    </div>
  </div>
    </form>
</div>

            <!-- The Modal -->
<div class="modal" id="filterModal">
    <form method="get" class="form">
        {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h3 class="h2 text-center mb-0 font-weight-light">Filter</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
            {% bootstrap_form object_list.form layout='horizontal' %}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
          {% bootstrap_button "Submit" button_type="submit" size='small' button_class='btn btn-lg btn-primary btn-block mybutton'%}
      </div>

    </div>
  </div>
    </form>
</div>

{% endblock %}